.navbar {
  background-color: #75e294; /* set the background color /
  font-family: Arial, sans-serif; / set the font /
  padding: 10px; / add padding around the navbar */
  }
  
  .logo {
  width: 30px; /* set the logo size /
  height: 30px;
  margin-right: 10px; / add margin between logo and brand text */
  }
  
  .brand-text {
  font-size: 1.3rem; 
  color: black;
  
  
  /* set the brand text size /
  
  font-weight: bold; / set the font weight */
  }
  
  .create-btn {
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px; /* add margin between Create button and user profile icon */
  }
  
  .profile-icon {
  font-size: 2rem; /* set the user profile icon size /
  cursor: pointer; / add a pointer cursor on hover */
  }

 
  .ml-auto {
    display: flex;
    flex-direction: row;
}